; This is the default configuration file for Cake.
; This file was downloaded from https://github.com/cake-build/resources

[Nuget]
; Disabling proxy for now so that it works without the NUGET infrastructure in place.
Source=http://192.168.10.23:8081/repository/nuget-group/
UseInProcessClient=true
LoadDependencies=true

[Paths]
Tools=./tools
Addins=./tools/Addins
Modules=./tools/Modules

[Settings]
SkipVerification=false
