<configuration>
     <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        
       
        <add key="nuget.org" value="http://192.168.10.23:8081/repository/nuget-group/"/> 
       
    </packageSources>
</configuration>